In [1]:
# 1. Make new list from two existing list which contain duplicate values ,  output should be unique.

In [3]:
a1 = [1,2,3,4,5,6,2,1,4,5,3,1]
a2 = [1,2,3,1,2,3,4,5,6,1,2,5]

c = a1 + a2
print(c)

[1, 2, 3, 4, 5, 6, 2, 1, 4, 5, 3, 1, 1, 2, 3, 1, 2, 3, 4, 5, 6, 1, 2, 5]

In [5]:
c1 = set((c))

In [6]:
ans = list((c1))
print("Answer is = ",ans)

Answer is =  [1, 2, 3, 4, 5, 6]

In [7]:
# 2. Find unique tuple from existing tuple which contains lot of duplicate values.

In [8]:
b1 = (1,2,1,2,3,1,4,5,6,1,2,1,2,3,4,3,1,3,1,3,1,2,3,1,3,1,4)

b2 = set((b1))

b3 = tuple((b2))

In [9]:
print("Answer is = ",b3)

Answer is =  (1, 2, 3, 4, 5, 6)

In [18]:
# 3.     A = [1,2,3,4,5]
#        B = [1,6,7,8]
#        C = [8,9,10]

#        Expected output : [1,2,3,4,5,6,7,8,9,10] & [1,8]

In [15]:
A = [1,2,3,4,5]
B = [1,6,7,8]
C = [8,9,10]

In [16]:
D = A + B + C

E = set((D))

Ans = list((E))

In [17]:
print("Answer is = ",Ans)

Answer is =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
A1 = set((A))
B1 = set((B))
C1 = set((C))

D1 = A1 & B1
D2 = B1 & C1

E1 = list((D1))
E2 = list((D2))

In [20]:
Ans = E1 + E2

print("Answer is = ",Ans)

Answer is =  [1, 8]