In [2]:
# 1 . create list of your name , age , field , location using list constructor

sample = list(("Tanmay", 23, "IT", "Thane"))
print(sample)

['Tanmay', 23, 'IT', 'Thane']

In [3]:
# 2 . print only your field using index
ans2 = sample[2]
print("Your field is = ",ans2)

Your field is =  IT

In [4]:
# 3 . print the position of location element
ans3 = sample.index("Thane")
print("Position of loctaion is = ",ans3)

Position of loctaion is =  3

In [9]:
# 4 . print element btw age and locaton ,using forward and backward indexing
ans4 = sample[2:3]
print("Answer is = ",ans4)

Answer is =  ['IT']

In [10]:
# 5 . replace the element of name with surname

sample[0] = "Pednekar"
ans5 = sample[0]

print("Answer is =",ans5)

Answer is = Pednekar

In [11]:
print(sample)

['Pednekar', 23, 'IT', 'Thane']

In [12]:
# 6 . replace the element of name ,age and field

sample[0:3]=["Tanmay",22,"IT-software developer"]
print("ans6")
print(sample)

ans6
['Tanmay', 22, 'IT-software developer', 'Thane']

In [23]:
# 7 . replace the element of name,age with only surname
sample = ["Tanmay",22,"IT-software developer","Thane"]
sample[0:2]=["Pednekar"]
print("ans7=")
print(sample)

ans7=
['Pednekar', 'IT-software developer', 'Thane']

In [27]:
# 8 . replace the element of name with your nickname and surname' 
sample = ["Pednekar", "IT-software developer", "Thane"]
sample[0:1] = ["Tanu","Pednekar"]
print("ans 8 =",sample)

ans 8 = ['Tanu', 'Pednekar', 'IT-software developer', 'Thane']

In [ ]:
# 9 . add your surname in the list after your first name

In [28]:
# 10 . add your only one hobby at the end of the list
sample.append("photography")
print("ans 10=",sample)

ans 10= ['Tanu', 'Pednekar', 'IT-software developer', 'Thane', 'photography']

In [32]:
# 11 . add your n-numbers of hobbies at the end of list
sample= ["Tanu", "Pednekar", "IT-software developer", "Thane", "photography"]
sample.extend(["cricket","dance","reading"])
print("ans 11=",sample)

ans 11= ['Tanu', 'Pednekar', 'IT-software developer', 'Thane', 'photography', 'cricket', 'dance', 'reading']

In [33]:
# 12 . remove your location from list
del sample[3]

print("ans 12 =" ,sample)

ans 12 = ['Tanu', 'Pednekar', 'IT-software developer', 'photography', 'cricket', 'dance', 'reading']

In [34]:
sample.insert(2,23)

In [35]:
print(sample)

['Tanu', 'Pednekar', 23, 'IT-software developer', 'photography', 'cricket', 'dance', 'reading']

In [39]:
# 13 . remove your age from list[using 2 methods]

# method 1

sample.remove(23)
print("ans 13 = ",sample)

ans 13 =  ['Tanu', 'Pednekar', 'IT-software developer', 'photography', 'cricket', 'dance', 'reading']

In [41]:
# method 2

#    sample.pop(2)

In [44]:
# 14 . remove last element from the list
sample = ['Tanu', 'Pednekar', 'IT-software developer', 'photography', 'cricket', 'dance', 'reading']
sample.pop()
print("ans 15 = ",sample)

ans 15 =  ['Tanu', 'Pednekar', 'IT-software developer', 'photography', 'cricket', 'dance']

In [45]:
# 15 . remove all element from the list(empty)
sample.clear()
print("ans 15=",sample)

ans 15= []

In [46]:
# 16 . delete the list
del sample
print(sample)

NameError: name 'sample' is not defined

In [48]:
# 17 . create a list of prime numbers till 20 and find the length of it.

new = [2, 3, 5, 7, 11, 13, 17, 19]
a= len(new)
print("ans 17= length of list is ",a)

ans 17= length of list is  8

In [71]:
# 18 . create a list of 5,2,18,7,,12 and print in ascending and descending order
old = [5,2,18,7,12]

# method 1
old.sort()
print("ans18 =ascending" ,old )

old.reverse()
print("ans18 =descending" ,old )

ans18 =ascending [2, 5, 7, 12, 18]
ans18 =descending [18, 12, 7, 5, 2]

In [55]:
old = [5,2,18,7,12]

# method 1
old.sort(reverse=True)
print("ans18 =decending" ,old )

ans18 =decending [18, 12, 7, 5, 2]

In [56]:
# 19 . merge two list

a = [1,2]
b = [3,4]
c = [5,6]
d = [7,8]

ans   = a+b
c.extend(d)
print("ans 19 =",ans)
print("ans 19 =",c)

ans 19 = [1, 2, 3, 4]
ans 19 = [5, 6, 7, 8]

In [59]:
# 20 . make a deep copy of list and heck whether it is copying deeply or not

a1 = [1,2]

a2 = a1

print(a2)

[1, 2]

In [61]:
a1.extend(c)

In [62]:
print(a1)
print(a2)

[1, 2, 5, 6, 7, 8]
[1, 2, 5, 6, 7, 8]

In [63]:
# 21  make a copy of list in that way  making changes in one list will not affect to the another list
x1 = [1,2,3]
x2 = x1.copy()
print(x1)
print(x2)

[1, 2, 3]
[1, 2, 3]

In [64]:
x3 = [0,0]
x1.extend(x3)
print(x1)
print(x2)

[1, 2, 3, 0, 0]
[1, 2, 3]

In [65]:
# 23 . zip four list contain with natural number your name,age, rollno

n = [1,2,3]
name = ["Tanmay","Yash","abc"]
age = [22,23,22]
r_no = [17,18,19]

details = zip(n,name,age,r_no)
details = list(details)

print("ans 23 =" ,details)

ans 23 = [(1, 'Tanmay', 22, 17), (2, 'Yash', 23, 18), (3, 'abc', 22, 19)]

In [67]:
# 24 . unzip 

n1,name1,age1,r_no1 = zip(*details)
print(n1)
print(name1)
print(age1)
print(r_no1)

(1, 2, 3)
('Tanmay', 'Yash', 'abc')
(22, 23, 22)
(17, 18, 19)

In [68]:
# stack and queue

#stack 
s = [1,2,3,4,5,6]
s.append(7)
s.pop()

7

In [69]:
# queue
q = [1,2,3]
q.append(5)
print(q)

[1, 2, 3, 5]

In [70]:
q.pop(0)

1